<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>InfoServlet</servlet-name>
		<display-name>InfoServlet</display-name>
		<description></description>
		<servlet-class>security.InfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InfoServlet</servlet-name>
		<url-pattern>/info</url-pattern>
	</servlet-mapping>


	<security-constraint>
		<web-resource-collection>
			<web-resource-name>All areas</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>UserDatabase</realm-name>
		<form-login-config>
			<form-login-page>/login.htm</form-login-page>
			<form-error-page>/login-failed.htm</form-error-page>
		</form-login-config>
	</login-config>
	<security-role>
		<role-name>supervisor</role-name>
	</security-role>
	<security-role>
		<role-name>user</role-name>
	</security-role>
	<security-role>
		<role-name>teller</role-name>
	</security-role>
	<security-role>
		<role-name>6</role-name>
	</security-role>
	<security-role>
		<role-name>7</role-name>
	</security-role>
	<security-role>
		<role-name>8</role-name>
	</security-role>
	<security-role>
		<role-name>9</role-name>
	</security-role>
</web-app>
