<?xml version="1.0" encoding="UTF-8"?>
<!-- - Tutorial web application - -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Tomcat Security Tutorial Application</display-name>
  <servlet>
    <description></description>
    <display-name>InfoServlet</display-name>
    <servlet-name>InfoServlet</servlet-name>
    <servlet-class>security.InfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoServlet</servlet-name>
    <url-pattern>/info</url-pattern>
  </servlet-mapping>
  <filter>
    <description>SingleSignOnLifeCycleListener</description>
    <display-name>SingleSignOnLifeCycleListener</display-name>
    <filter-name>SingleSignOnLifeCycleListener</filter-name>
    <filter-class>security.SingleSignOnLifeCycleListener</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SingleSignOnLifeCycleListener</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>security.SingleSignOnLifeCycleListener</listener-class>
  </listener>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>All areas</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>*</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>UserDatabase</realm-name>
    <form-login-config>
      <form-login-page>/login.htm</form-login-page>
      <form-error-page>/login-failed.htm</form-error-page>
    </form-login-config>
  </login-config>
  <security-role>
    <role-name>supervisor</role-name>
  </security-role>
  <security-role>
    <role-name>user</role-name>
  </security-role>
  <security-role>
    <role-name>teller</role-name>
  </security-role>
  <security-role>
    <role-name>6</role-name>
  </security-role>
  <security-role>
    <role-name>7</role-name>
  </security-role>
  <security-role>
    <role-name>8</role-name>
  </security-role>
  <security-role>
    <role-name>9</role-name>
  </security-role>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>security.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/SYROLES/*</url-pattern>
    <url-pattern>/USROLES/*</url-pattern>
    <url-pattern>/LOGIN/*</url-pattern>
  </servlet-mapping>
</web-app>